* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkOrange: #BF2D0D;
    --white: #fff;
    --grey: #393939;
}

a {
    text-decoration: none;
    color: white;
}

.top_bar {
    background-color: var(--darkOrange);
    /* display: flex;
 align-content: space-between; */
}

.container {
    max-width: 1240px;
    /* width: 80%; */
    margin: 0 auto;
    padding: 0 15px;
}

.section_padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section_heading {
    font-size: 42px;
    font-weight: 600;
    padding-top: 80px;
    margin-bottom: 18px;
}

.section_sub {
    margin-bottom: 50px;
    font-size: 16px;
}

.orange_btn {
    padding: 10px 20px;
    background-color: none;
    border: 2px solid #fff;
}

.text_center {
    text-align: center;
}

.white_text {
    color: var(--white);
}

.orange_text {
    color: var(--darkOrange);
}

.grey_text {
    color: var(--grey);
}

.total {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
}

.rightpart {
    /* padding: 0 15px; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.rightpart ul {
    list-style: none;
    display: flex;

}

.rightpart ul li {
    /* margin: 0 10px;  */
    flex-direction: row;
    /* padding: 0 10px; */
}

.rightpart ul li a {
    padding: 0 5px;
}

.leftpart {
    display: flex;

}

.leftpart ul {
    list-style: none;
    flex-direction: row;
    /* padding: 0 10px; */
}

.leftpart ul li a {
    padding: 0 5px;
}

.navbar {
    /* background-color:var(--white) ; */
    padding: 15px 0;
    /* display: flex;  */
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

.navbar_brand a {
    color: white;
    font-size: 30px;
    font-weight: 900;
}

.nav_links ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.nav_links ul li {
    padding: 0 15px;
}

.nav_links ul li a {
    color: #393939;
    font-weight: 600;
    padding: 5px;
    text-decoration: none;
}

.nav_icon ul {
    display: flex;
    list-style: none;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
}

.btn {
    background-color: none;
    border: 2px solid #BF2D0D;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 4px;
    color: #BF2D0D;
    margin: 0 15px;
}

.nav_icon ul li a img {
    flex-direction: row;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.banner {
    background-image: url(../img/Banner\ img.png);
}

.banner_group {
    display: flex;
    max-width: 100%;
    flex-direction: row;
}

.leftpart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%;
}

.leftpart p {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 30px;
}

h1 {
    font-size: 58px;
    font-weight: 900;
    padding-bottom: 30px;
}

h6 {
    color: #fff;
    font-size: 14px;

}

.banner_btn {
    padding: 12px 15px;
    color: #BF2D0D;
    font-size: 18px;
    border-color: #fff;

}

.banner_btn a img {
    /* padding-top: 15px; */

}

.rightpart {
    /* width: 1240px;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    width: 50%;
    flex-wrap: wrap;
}

.rightpart .box {
    background-color: #fff;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 5px (0, 0, 0, 0.1);
    padding: 44px 25px 44px 25px;
}

.box h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--grey);
    margin-bottom: 15px;

}

.box_part {
    display: flex;
    justify-content: space-evenly;
    /* gap: 15px; */
    margin-bottom: 15px;
}

.dropdowns select {
    width: 340px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    height: 52px;
}

.row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-width: 340px;
}

.row select {
    width: 50%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
}

.search_btn {
    background-color: var(--darkOrange);
    color: #fff;
    padding: 12px;
    margin-top: 25px;
    border: 1px solid #fff;
    border-radius: 5px;
    /* background-color: #fff; */
    width: 100%;
    height: 52px;
}

.service {
    background-color: #393939;
    height: 650px;
}

.service_content h2 span {
    background-color: #BF2D0D;
    display: inline-block;
    transform: skewX(-10deg);
}



.service_card {
    display: flex;
    justify-content: space-between;
}

.service_card .card {
    width: 32%;
    padding: 25px;

}

.service_card .card figure {
    width: 40%;
    margin: 0 auto;
}

.service_card .card figure {
    background-color: var(--darkOrange);
    border: 2px solid #BF2D0D;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    align-items: center;
}

.service_card .card figure img {
    margin: 8px 8px;
    width: 60px;
    height: 60px;
    align-items: center;
}

.service_card .card_text {
    text-align: center;
    padding-top: 30px;
}

.service_card .card_text h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--white);
}

.service_card .card_text p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;
    color: var(--white);
    line-height: 1.8;
}

.offer_list {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.offer_list .offer_leftpart img {

    width: 720px;
    height: 600px;
    object-fit: cover;

}

.offer_rightpart {
    background-color: var(--darkOrange);
    width: 720px;
    height: 600px;
    width: 100%;
    padding: 40px 50px;
}

.offer_rightpart h6 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.total {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.total .total_left ul li {
    color: #fff;
    padding-bottom: 10px;
    list-style: none;
    font-size: 14px;
}

.total .total_right ul li {
    color: #fff;
    padding-bottom: 10px;
    list-style: none;
    font-size: 14px;
}

.choose_us {
    padding-top: 100px;
    padding-bottom: 40px;
}

.choose_us h2 {

    color: #393939;
}

.choose_us h2 {
    font-size: 42px;

}

.choose_us_one {
    padding: 40px 0;
}

.choose_us h2 span {
    display: inline-block;
    background-color: #BF2D0D;
    color: #fff;
    transform: skewX(-10deg);

}

.choose_us_one p {
    padding-bottom: 20px;
    padding-top: 20px;
}

.technicians_card {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.technicians_card .box {
    width: 25%;
    padding: 25px;
    /* transform: skewX(-30deg); */
}
.technicians_card .box figure{
    width: 40%;
    margin: 0 auto;
}
.technicians_card .box figure{
    width: 80px;
    height: 80px;
    background-color: var(--darkOrange);
    align-items: center;
    border-radius: 5%;
    border: 4px solid #393939;
    align-items: center;
    margin-bottom: 16px;

}
.technicians_card .box figure img{
    margin: 8px 8px;
    width: 60px;
    height: 60px;
    align-items: center;
}
.technicians_card .box_text h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--grey);
    
    text-align: center;
}
.technicians_card .box_text p{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;
    color: gray;
    line-height: 1.8;
    text-align: center;
}